@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: min(1200px, 90%);
    margin: 0 auto;
  }
}

@layer components {
  .hero-wrapper {
    min-height: 80vh;
    background: linear-gradient(
        0deg,
        rgba(219, 234, 254, 0.6),
        rgba(219, 234, 254, 0.6)
      ),
      url(/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    background-size: cover;
  }

  .dark .hero-wrapper {
    background: linear-gradient(
        0deg,
        rgba(7, 47, 95, 0.7),
        rgba(7, 47, 95, 0.7)
      ),
      url(/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    background-size: cover;
  }

  .hero-content {
    @apply container m-auto flex flex-col items-start gap-4 text-5xl font-black lg:gap-8 lg:text-7xl;
  }
}

@layer components {
  .hamburger {
    @apply flex aspect-square w-8 flex-col justify-center gap-2;
  }

  .bottom-hamburger {
    --tw-translate-y: calc(-1rem + 50%);
    --tw-rotate: 45deg;
  }
  .top-hamburger {
    --tw-translate-y: calc(1rem - 50%);
    --tw-rotate: -45deg;
  }
}

/*Test*/

body {
  min-height: 500vh;
}
*{
  outline: solid lime 1px;
}
