@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-5 py-3 transition-all rounded-xl border-solid border-2 uppercase text-base hover:scale-110 hover:-translate-y-1 focus:scale-110 focus:-translate-y-1;
  }
}

@layer components {
  .hero-wrapper {
    @apply pt-32 bg-white dark:bg-black text-black dark:text-white;
    min-height: 80vh;
  }
  .hero-content {
    @apply container m-auto flex flex-col items-start gap-4 px-4 font-black text-5xl lg:text-7xl lg:gap-8;
  }
}

@layer components {
  .header {
    @apply bg-lime-500 bg-opacity-50 min-h-20  w-full fixed transition-all ease-out duration-300 flex justify-between items-center px-6 backdrop-blur-sm;
  }
  .menu-desktop {
    @apply flex flex-row flex-grow justify-end gap-6 items-center;
  }
  .menu-desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .menu-mobile {
    @apply fixed top-full right-0 w-full bg-red-500 py-8 transition-all duration-1000 ease-out;
  }
  .menu-mobile > menu {
    @apply flex flex-col items-center gap-2 justify-start;
  }
  .hamburger {
    @apply flex flex-col justify-center aspect-square w-8 gap-2;
  }
  :where(.top-hamburger, .middle-hamburger, .bottom-hamburger) {
    @apply bg-amber-500 rounded flex-grow w-full transition-all relative duration-500;
  }
  .bottom-hamburger {
    --tw-translate-y: calc(-1rem + 50%);
    --tw-rotate: 45deg;
  }
  .top-hamburger {
    --tw-translate-y: calc(1rem - 50%);
    --tw-rotate: -45deg;
  }
}

/*Test*/

body {
  min-height: 500vh;
}
