@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        scroll-padding: 5rem;
        scroll-behavior: smooth;
    }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #c7d2fe;
  -webkit-text-fill-color: #c7d2fe;
  -webkit-box-shadow: 0 0 0px 500px #4338ca inset;
  transition: background-color 5000s ease-in-out 0s;
}
}
@layer utilities {
    .container {
        max-width: min(1200px, 90%);
        margin: 0 auto;
    }
}

@layer components {
    .hero-wrapper {
        min-height: 80vh;
        background: linear-gradient(
                0deg,
                rgba(219, 234, 254, 0.75),
                rgba(219, 234, 254, 0.75)
            ),
            url(/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
        background-size: cover;
        box-shadow: 0 0 0 9999px #e0f2fe;
    }

    .dark .hero-wrapper {
        background: linear-gradient(
                0deg,
                rgba(7, 47, 95, 0.75),
                rgba(7, 47, 95, 0.75)
            ),
            url(/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
        background-size: cover;
        box-shadow: 0 0 0 9999px #082f49;
    }

    .menu-item {
        @apply uppercase tracking-widest transition-transform focus-within:scale-110 hover:scale-110;
    }

    .hero-content {
        @apply container m-auto flex flex-col items-start gap-4 text-5xl font-black lg:gap-8 lg:text-7xl;
    }

    .timeline-card-header {
        grid-template-columns: 3rem 1fr;
    }
}

@layer components {
    .hamburger {
        @apply flex aspect-square w-8 flex-col justify-center gap-2;
    }

    .bottom-hamburger {
        --tw-translate-y: calc(-1rem + 50%);
        --tw-rotate: 45deg;
    }

    .top-hamburger {
        --tw-translate-y: calc(1rem - 50%);
        --tw-rotate: -45deg;
    }
    .timeline-cards-wrapper::after {
        content: '';
        @apply w-1 rounded-full bg-sky-900 dark:bg-sky-200;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }
    .modal{
        box-shadow: 0 0 0 300vw rgba(255, 0, 0, 0.452);
        
    }
    .modal::backdrop {
        backdrop-filter: blur(4px);
      }

    @media screen and (min-width: 1024px) {
        .timeline-cards-wrapper {
            grid-template-columns: 1fr 1fr;
        }
        .timeline-cards-wrapper::after {
            content: '';
            @apply w-1 rounded-full bg-sky-900 dark:bg-sky-200;
            position: absolute;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .timeline-card-header::after {
            content: '';
            @apply absolute top-1/2 z-20 h-1 w-4 -translate-y-1/2 bg-sky-900 dark:bg-sky-200;
        }
    }

    @media screen and (min-width: 768px) {
        .skills-grid {
            grid-template-columns: 20% 1fr;
        }
    }

    /*Test*/

    .menu-mobile {
        will-change: transform, opacity;
    }

    :has(> .project-card) {
        will-change: opacity, transform;
    }

    .project-card::before,
    .project-card::after,
    .skills-grid::before {
        content: '';
        position: absolute;
        will-change: background-image;
        inset: -10px;
        background-image: conic-gradient(
            from 0,
            #38bdf8,
            #075985,
            #4338ca,
            #075985,
            #38bdf8
        );
        z-index: -1;
        border-radius: 30px;
    }

    .project-card::after,
    .skills-grid::after {
        filter: blur(1rem);
        opacity: 0.5;
    }
}
